/* General reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* containerr styling */
.containerr {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: linear-gradient(to top right, #00b7ff, #da70d6);
}

/* Form containerr styling */
.form-containerr {
  width: 50%;
  max-width: 300px;
  padding: 60px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

/* Form div styling */
form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

form div input {
  border: none;
  border-bottom: 1px solid #c6c6c6;
  outline: none;
  padding: 5px;
}

h1 {
  font-size: 2rem; /* Ajusta el tamaño según necesites */
  text-align: center;
  overflow-wrap: break-word;
  margin-bottom: 20px;
}

.form-containerr button {
  padding: 6px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow-wrap: break-word;
  margin-top: 20px;
}

form a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  text-align: center;
  overflow-wrap: break-word;
  margin-top: 20px;
}
