<div class="containerr">
    <div class="form-containerr">
        <h1>Registrar</h1>
        <form action="">
            <div>
                <label for="username">Nombre de usuario</label>
                <input type="text" name="username" id="username" />
            </div>
            <div>
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" id="pass">
            </div>
            <button routerLink="/" type="submit">Registrar</button>
            <a routerLink="/auth">Iniciar sesión</a>
        </form>
    </div>
</div>